html {
    height:100%;
    display: flex;
    flex-flow: column;
}
body {
    flex: 1;
    display: flex;
    flex-flow: column;
}
#app-container {
    flex: 1;
}

input[type=checkbox]:not(:checked) ~ .spoiler {
    background-color: #333;
    color: transparent;
    user-select: none;
    transition: color .25s, background-color .25s;
}

input[type=checkbox]:checked ~ .spoiler { 
  background-color: inherit;
  color: inherit;
  user-select: auto;
  transition: color .25s, background-color .25s;
}
